@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

.card {
  border-radius: 15px;
}

.value {
  font-size: 9rem;
  font-family: "Times New Roman", Times, serif;
}

.suit {
  font-size: 6rem;
}

.bottom-suit {
  transform: rotateX(180deg);
}

.heart,
.diamond {
  color: red;
}

.spade,
.club {
  color: black;
}
